################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/PostgreSQL/bin/*
/PostgreSQL/obj/*
.vs/PostgreSQL/v16/.suo
.vs/PostgreSQL/v16/.suo
PostgreSQL.Query/obj/*
PostgreSQL.Query/bin/*
.vs/PostgreSQL/v16/.suo
